@page
@model ASC.Web.Areas.Identity.Pages.Account.ResetPasswordEmailConfirmationModel

@{
    ViewData["Title"] = "Reset password Email confirmation";
    Layout = "_Layout";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Check your email to reset ur password
            </span>
        </div>
    </div>
</div>